This Notebook is used to store data obtained from the publication in form of dictionaries and convert the stored data in to CSV files for further Descriptive, Visual and Statistical Analysis.

2.1 IMPORTING LIBRARIES

In [15]:
import pandas as pd

2.2 CREATING DICTIONARIES

In [16]:
# Dictionary 1: shows 
# 1. Total Opportunities occured during 5 Moments of Hand Hygiene
# 2. Number of Actions performed during 5 Moments of Hand Hygiene
# 3. 7 Steps of Hand cleaning followed during 5 Moments of Hand Hygiene
compliance = {
    "Total_Opportunities" : [1198], 
    "Action_5_Moments" : [483], 
    "Action_7_Steps" : [303]
}




# Dictionary 2 : shows
# 1. Categories of Health Care Workers
# 2. Total Opportunities occured during 5 Moments of Hand Hygiene of each healthcare worker group
# 3. Number of Actions performed by each Health Care Worker group during 5 Moments of Hand Hygiene
# 4. 7 Steps of Hand cleaning followed by each Health Care Worker group during 5 Moments of Hand Hygiene
moment_step_compliance = {
    "HCW" : ["Overall", "Doctors", "Nurses", "GDA/HK", "Other"],
    "Opportunities" : [1198, 236, 509, 172, 281],
    "Action_5_Moments" : [483, 64, 246, 73, 100],
    "Action_7_Steps" : [303, 36, 168, 45, 54]
}




# Dictionary 3 : shows
# 1. Categories of Health Care Workers
# 2. Number of Actions performed by each Health Care Worker group during 5 Moments of Hand Hygiene
# 3. Preference of Hand Rub among Health Care Workers as per their categories for cleaning hands
# 4. Preference of Hand Wash among Health Care Workers as per their categories for cleaning hands
preference = {
    "HCW" : ["overall", "Doctors", "Nurses", "GDA/HK", "Other"],
    "Action_5_Moments" : [483, 64, 246, 73, 100],
    "Hand_Rub" : [334, 52, 178, 37, 63],
    "Hand_Wash" : [157, 11, 67, 40, 37]
    }



# Dictionary 4 : shows
# 1. Categories of Health Care Workers
# 2. In Critical Care Areas - Total Opportunities occured during 5 Moments of Hand Hygiene for different categories of healthcare worker 
# 3. Number of Actions performed during 5 Moments of Hand Hygiene in Critical Care Areas by different categories of healthcare worker 
# 4. In Semi-Critical Care Areas - Total Opportunities occured during 5 Moments of Hand Hygiene for different categories of healthcare worker  
# 5. Number of Actions performed during 5 Moments of Hand Hygiene in Semi-Critical Care Areas by different categories of healthcare worker 
care_area_compliance = {
    "HCW" : ["Overall","Doctors", "Nurses", "GDA/HK", "Other"],
    "C_Opp" : [527, 114, 242, 76, 95],
    "C_Actions" : [229, 32, 125, 41, 31],
    "S_Opp" : [661, 122, 257, 96, 186],
    "S_Actions" : [244, 32, 111, 32, 69]
    }



# Dictionary 5 : shows 
# 1. Critical and Semi-Critical Care Areas
# 2. Overall Compliance in percentage in different Care Area
# 3. Compliance among Doctors in percentage in different Care Areas
# 4. Compliance among Nurses in percentage in different Care Areas
# 5. Compliance among General Duty Assistant (GDA)/ Housekeepers (HK) in percentage in different Care Areas
# 6. Compliance among Others (Technician, Dietician, Physiotherapy) in percentage in different Care Areas
areawise_compliance = {
    "Areas" : ["MICU1", "MICU2", "NeuroICU","CCU", "HDUN", "CS", "SR", "EMR", "CR", "Dialysis" ],
    "Overall (%)" : [50.98, 47.3, 41.18, 30.47, 46.38, 34.28, 40.66, 24.62, 40.37, 45.94],
    "Doctors (%)" : [43.85, 16.6, 5.8, 13.6, 20, 100, 23.52, 25, 25, 0],
    "Nurses (%)": [54.87, 65.90, 57.5, 36.84, 70, 14.28, 50, 30, 50, 0],
    "GDA/HK (%)" : [68.57, 45.45, 50, 28.57, 50, 50, 44.44, 22.22, 23.07, 5.88],
    "Other (%)" : [33.33, 35, 34.48, 25, 52.63, 33.33, 34.78, 15.90, 32.69, 61.53]
}



# Dictionary 6 : shows 
# 1. 5 Moments of hand hygiene
# 2. Number of Opportunities occured as per the Moment of Hand hygiene
# 3. Number of Actions performed during Opportunities occured as per the Moment of Hand hygiene
momentwise = {
    "Moments" : [
        "Before Patient Contact",
        "Before Asceptic Procedure",
        "After Body Fluid Exposure",
        "After Patient Contact",
        "After Touching Patient Surroundings"
    ],
    "Opportunities" : [229, 44, 50, 325, 550],
    "Action" : [69, 15, 16, 173, 210]
}

2.3 CONVERTING DICTIONARIES INTO DATAFRAMES

In [17]:
# USING DATAFRAMES TO CONVERT DICTIONARIES IN TO TABLES

compliance = pd.DataFrame(compliance)
moment_step_compliance = pd.DataFrame(moment_step_compliance)
preference = pd.DataFrame(preference)
care_area_compliance = pd.DataFrame(care_area_compliance)
areawise_compliance = pd.DataFrame(areawise_compliance)
momentwise = pd.DataFrame(momentwise)

2.4 EXPORTING INTO CSV FILES

In [18]:
# USING to_csv() FUNCTION  {to export data into structured file format for storage and sharing} 

compliance.to_csv("overall_compliance_HH.csv", index = False)
moment_step_compliance.to_csv("Moments_Steps_compliance_HH.csv", index = False)
preference.to_csv("Preference_HR_HW.csv", index = False)
care_area_compliance.to_csv("Critical_Semicritical_Area_Compliance.csv", index = False)
areawise_compliance.to_csv("Area_Wise_Compliance.csv", index = False)
momentwise.to_csv("Moment_Wise_Compliance.csv", index = False)

2.5 PRINTING RESULTS/TABLES

In [19]:
# Table 1 : shows
# The Number of Actions performed during 5 Moments and 7 Steps of Hand Hygiene and Total Opportunities occured during these 5 Moments

compliance

   Total_Opportunities  Action_5_Moments  Action_7_Steps
0                 1198               483             303

In [20]:
# Table 2 : shows
# The Number of Actions performed during 5 Moments and 7 Steps of Hand hygiene as per different categories of Health Care Workers

moment_step_compliance

       HCW  Opportunities  Action_5_Moments  Action_7_Steps
0  Overall           1198               483             303
1  Doctors            236                64              36
2   Nurses            509               246             168
3   GDA/HK            172                73              45
4    Other            281               100              54

In [21]:
# Table 3 : shows
# The Number of Actions performed during 5 Moments and preference of Hand Rub and Hand Hygiene as per different categories of Health Care Workers

preference

       HCW  Action_5_Moments  Hand_Rub  Hand_Wash
0  overall               483       334        157
1  Doctors                64        52         11
2   Nurses               246       178         67
3   GDA/HK                73        37         40
4    Other               100        63         37

In [22]:
# Table 4 : shows
# The Opportunities and Actions occured in Critical and Semi-Critical Care Areas as per different categories of Health Care Workers

care_area_compliance

       HCW  C_Opp  C_Actions  S_Opp  S_Actions
0  Overall    527        229    661        244
1  Doctors    114         32    122         32
2   Nurses    242        125    257        111
3   GDA/HK     76         41     96         32
4    Other     95         31    186         69

In [23]:
# Table 5 : shows
# The Overall and Healthcare Worker Wise Percentage of Actions performed during 5 Moments of Hand Hygiene in 9 different Care units

areawise_compliance

      Areas  Overall (%)  Doctors (%)  Nurses (%)  GDA/HK (%)  Other (%)
0     MICU1        50.98        43.85       54.87       68.57      33.33
1     MICU2        47.30        16.60       65.90       45.45      35.00
2  NeuroICU        41.18         5.80       57.50       50.00      34.48
3       CCU        30.47        13.60       36.84       28.57      25.00
4      HDUN        46.38        20.00       70.00       50.00      52.63
5        CS        34.28       100.00       14.28       50.00      33.33
6        SR        40.66        23.52       50.00       44.44      34.78
7       EMR        24.62        25.00       30.00       22.22      15.90
8        CR        40.37        25.00       50.00       23.07      32.69
9  Dialysis        45.94         0.00        0.00        5.88      61.53

In [24]:
# Table 6 : shows
# The Opportunities and the Actions occured as per 5 Moments of Hand Hygiene

momentwise

                               Moments  Opportunities  Action
0               Before Patient Contact            229      69
1            Before Asceptic Procedure             44      15
2            After Body Fluid Exposure             50      16
3                After Patient Contact            325     173
4  After Touching Patient Surroundings            550     210

2.6 LOADING DATA

In [25]:
# USING read.csv() Functions {to read data from CSV file and load the data in to pandas DataFrame}

compliance = pd.read_csv("overall_compliance_HH.csv")
moment_step_compliance = pd.read_csv("Moments_Steps_compliance_HH.csv")
preference = pd.read_csv("Preference_HR_HW.csv")
care_area_compliance = pd.read_csv("Critical_Semicritical_Area_Compliance.csv")
areawise_compliance = pd.read_csv("Area_Wise_Compliance.csv")
momentwise = pd.read_csv("Moment_Wise_Compliance.csv")

2.7 CHECKING EMPTY VALUES

In [26]:
print(compliance.isnull().sum())
print(moment_step_compliance.isnull().sum())
print(preference.isnull().sum())
print(care_area_compliance.isnull().sum())
print(areawise_compliance.isnull().sum())
print(momentwise.isnull().sum())

Total_Opportunities    0
Action_5_Moments       0
Action_7_Steps         0
dtype: int64
HCW                 0
Opportunities       0
Action_5_Moments    0
Action_7_Steps      0
dtype: int64
HCW                 0
Action_5_Moments    0
Hand_Rub            0
Hand_Wash           0
dtype: int64
HCW          0
C_Opp        0
C_Actions    0
S_Opp        0
S_Actions    0
dtype: int64
Areas          0
Overall (%)    0
Doctors (%)    0
Nurses (%)     0
GDA/HK (%)     0
Other (%)      0
dtype: int64
Moments          0
Opportunities    0
Action           0
dtype: int64

2.8 PRINTING SUMMARY OF DATA FRAME

In [27]:
# USING .infor() FUNCTION {to print summary/ Information of DataFrame}

print(compliance.info())
print(moment_step_compliance.info())
print(preference.info())
print(care_area_compliance.info())
print(areawise_compliance.info())
print(momentwise.info())

<class 'pandas.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Total_Opportunities  1 non-null      int64
 1   Action_5_Moments     1 non-null      int64
 2   Action_7_Steps       1 non-null      int64
dtypes: int64(3)
memory usage: 156.0 bytes
None
<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HCW               5 non-null      str
 1   Opportunities     5 non-null      int64
 2   Action_5_Moments  5 non-null      int64
 3   Action_7_Steps    5 non-null      int64
dtypes: int64(3), str(1)
memory usage: 292.0 bytes
None
<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HCW               5 non-null      str
 1   Action_5_Moments  5 non-null      int64
 2   Hand_Rub          5 non-null      int64
 3   Hand_Wash         5 non-null      int64
dtypes: int64(3), str(1)
memory usage: 292.0 bytes
None
<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HCW        5 non-null      str
 1   C_Opp      5 non-null      int64
 2   C_Actions  5 non-null      int64
 3   S_Opp      5 non-null      int64
 4   S_Actions  5 non-null      int64
dtypes: int64(4), str(1)
memory usage: 332.0 bytes
None
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Areas        10 non-null     str
 1   Overall (%)  10 non-null     float64
 2   Doctors (%)  10 non-null     float64
 3   Nurses (%)   10 non-null     float64
 4   GDA/HK (%)   10 non-null     float64
 5   Other (%)    10 non-null     float64
dtypes: float64(5), str(1)
memory usage: 612.0 bytes
None
<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Moments        5 non-null      str
 1   Opportunities  5 non-null      int64
 2   Action         5 non-null      int64
dtypes: int64(2), str(1)
memory usage: 252.0 bytes
None

2.9 DATA PREPARATION DONE!!